<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.totorial">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".coroutine.activity.CoroutineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recyclerview.RecyclerViewActivity">
        </activity>
        <activity android:name=".nav_quiz.activity.NavQuizActivity"></activity>
        <activity android:name=".nav.activity.NavActivity" />
        <activity android:name=".twoway_binding.activity.TwoWayBindingActivity" />
        <activity android:name=".view_model.activity.ChallengeActivity" />
        <activity android:name=".view_model.activity.ViewModelActivity" />
        <activity android:name=".main.activity.MainActivity" />
    </application>

</manifest>